// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-right{
  text-align: right;
}

.btn-navbar{
  margin: 10px 0px;
  &:hover{
    color: white;
  }
}

.btn-white-text{
  &:a{
    color: white;
  }
}

.btn-email-margin{
  margin-bottom: 10px;
}

.btn-margin-left{
  margin-left: 15px;
}