<h1>Hi <%= @user.email %></h1>
<p>Here are some information about a product you are interested in:</p>
<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>

